.card-container{
    width: 40%;
    /* align-self: center; */
}
.css-99a237 {
    display: flex;
    justify-content: space-between;
}
.css-1id64jh {
    display: flex;
}
.css-13tavyo-MuiButtonBase-root-MuiButton-root {
    margin: 2% !important;
}

.css-k6nd4d-MuiSnackbar-root {
    top: -30pc;
    right: 24px;
}
input{
    width: 19.5pc;
    height: 3pc;
    border-radius: 10px;
    padding: 10px;
}