thead{
    display: contents !important;
    color: #ff4800;
}
.my-select {
    width: 12pc;
    height: 2pc;
    border-radius: 10px;
    border: 2px solid;
}
.css-1ilul2d-MuiTableCell-root {
    font-size: 0.8rem !important;
}